
<h2>Alle Bücher</h2>
<form [formGroup]="finishDetailForm">
    <input type="number" formControlName="last_page" placeholder="Seitenanzahl">
    <input type="number" formControlName="last_chapter" placeholder="Kapitelanzahl">
</form>
<table>
    <thead>
        <tr>
            <th>isbn</th>
            <th>titel</th>
            <th>autor</th>
            <th>verlag</th>
            <th>Seiten</th>
            <th>Kapitel</th>
            <th></th><!--hidden for button. button only visible on hover-->
        </tr>
    </thead>
    <tbody>
        @for (b of books$ | async; track b.b_isbn) {
            <tr>
                <td>{{b.b_isbn}}</td>
                <td>{{b.b_title}}</td>
                <td>{{b.au_last_name}}, {{b.au_first_name}}</td>
                <td>{{b.pub_title}}</td>
                <td>{{b.b_pages}}</td>
                <td>{{b.b_chapter}}</td>
                <td><button (click)="startRead(b)" name="startreadsubmit">Open Book</button></td>
                <td><button (click)="setPages(b)" name="setpagessubmit">set</button></td>
            </tr>
        }
    </tbody>
</table>
<span>
    <a [routerLink]="['/createbook']" routerLinkActive="active">Neues Buch anlegen</a>
</span>
