
<h2>Alle Bücher</h2>
<form [formGroup]="finishDetailForm">
    <input type="number" formControlName="last_page" placeholder="Seitenanzahl">
    <input type="number" formControlName="last_chapter" placeholder="Kapitelanzahl">
</form>
<table>
    <thead>
        <tr>
            <th>isbn</th>
            <th>titel</th>
            <th>autor</th>
            <th>verlag</th>
            <th>Seiten</th>
            <th>Kapitel</th>
            <th></th><!--hidden for button. button only visible on hover-->
        </tr>
    </thead>
    <tbody>
        @for (b of books$ | async; track b.isbn) {
            <tr>
                <td>{{b.isbn}}</td>
                <td>{{b.title}}</td>
                <td>{{b.a_last}}, {{b.a_first}}</td>
                <td>{{b.p_title}}</td>
                <td>{{b.pages}}</td>
                <td>{{b.chapter}}</td>
                <td><button (click)="startRead(b)">Open Book</button></td>
                <td><button (click)="setPages(b)">set</button></td>
            </tr>
        }
    </tbody>
</table>
<span>
    <a [routerLink]="['/createbook']" routerLinkActive="active">Neues Buch anlegen</a>
</span>
