
<hr />
<footer>
    <span>
        <div>
            {{test$ |async}}
        </div>
        <div>
            {{id}}
        </div>
    </span>
    <span>
        first created: 01.07.2024<br>
        last updated: 17.08.2024<br>
    </span>
    <span>
        <a [routerLink]="['/about']">Ueber mich</a><br>
    </span>
    <span>
        <a [routerLink]="['/legalnotice']">Impressum</a>
    </span>
    <button (click)="deleteDb()">delete db</button>
    <button (click)="logout()">clock out</button>
</footer>
