<div>
    <form>
        <input type="text" class="mandatory" placeholder="ISBN">
        <input type="text" class="halfoptional" placeholder="title">
        <input type="text" class="optional" placeholder="extended title">
        <input type="text" class="mandatory" placeholder="author">
        <input type="text" class="optional" placeholder="started">
        <input type="text" class="optional" placeholder="finished">
        <input type="text" class="optional" placeholder="short essay">
    </form>
</div>
