
<div>
    <form [formGroup]="newBookForm" (ngSubmit)="newBookSubmit()">
        <!-- todo: is it possible, to link the mandatory|optional css class to the form validator.
         When the validator changes, the css class also does-->
        <input type="text" formControlName="isbn"           class="mandatory"    placeholder="ISBN" />
        <input type="text" formControlName="title"          class="mandatory" placeholder="title" />
        <h2>Autor</h2>
        <input type="text" formControlName="firstName" class="mandatory" placeholder="first Name" />
        <input type="text" formControlName="lastName" class="mandatory" placeholder="last Name" />
        <h2>Publisher</h2>
        <input type="text" formControlName="name" class="mandatory" placeholder="Publisher" />

        <button type="submit" [disabled]="newBookForm.invalid">Create Me</button>
    </form>

    <!-- {{newBookForm.value | json}} -->
</div>
