<table>
    <thead>
        <tr>
            <th>
                Rang
                <small>nach meiner persoenlichen Einschaetzung</small>
            </th>
            <th>
                Titel
            </th>
            <th>
                Author
            </th>
            <th>
                started
            </th>
            <th>
                finished
            </th>
            <th>
                notes
            </th>
            <th>
                extra info
            </th>
            <th>
                short essay
            </th>
        </tr>
    </thead>
    <tbody>
        @for (p of [1,9]; track $index) {
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
        }
    </tbody>
</table>