<table>
    <thead>
        <tr>
            <th>
                Rang
                <small>nach meiner persoenlichen Einschaetzung</small>
            </th>
            <th>
                Titel
            </th>
            <th>
                Autor
            </th>
            <th>
                Zeitraum
            </th>
            <th>
                Notizen
            </th>
        </tr>
    </thead>
    <tbody>
        @for (b of books$ | async; track b.isbn) {
            <tr>
                <td>
                    {{b.rank}}
                </td>
                <td>
                    {{b.title}}
                </td>
                <td>
                    {{b.author}}
                </td>
                <td>
                    tba
                </td>
                <td>
                    {{b.thoughts}}
                </td>
            </tr>
        }
        @empty {
            bibi
        }
    </tbody>
</table>