
<!--shows todos and other marked books. maybe alredy read books / link to detailed review-->
<h2>Eine Liste von Buechern, die ich gelesen habe, oder noch lesen werde</h2>
<!-- Buecher sortiert in folgender form
 1. gelesene Buecher
    sortiert nach datum des ersten Mal lesens 
 2. noch nicht gelesene Buecher
    sortiert nach tbd-->
<hr />
<table>
    <thead>
        <tr>
            <th>Autor</th>
            <th>Titel</th>
            <th>Verlag</th>
            <th>Gelesen</th>
            <th>todo:better txt</th>
        </tr>
    </thead>
    <!--implement drag and drop for each loob-->
    <tbody>
        <h4>Reviews</h4>
        @for (r of [{isbn:'', author:'', title:'', publisher:'', reads: []}] ; track r.isbn) {
            <tr>
                <td>{{r.author}}</td>
                <td>{{r.title}}</td>
                <td>{{r.publisher}}</td>
                <!-- todo: hier eine pipe, die checkt, ob es reads gibt, wenn schon wird der
                (letzte oder aelteste oder gesamt oder alles in einem dropdown) angezeigt-->
                <td>{{r.reads.length | bool:true}}</td>
                <td><a routerLink="/newreview" [queryParams]="{isbn: r.isbn}">Add Review</a></td>
            </tr>
        }
        <hr />
        <h4>Todos</h4>
        @for (t of [{isbn:'', author:'', title:'', publisher:'', reads: []}]; track t.isbn) {
            <tr>
                <td>{{t.author}}</td>
                <td>{{t.title}}</td>
                <td>{{t.publisher}}</td>
                <!-- todo: hier eine pipe, die checkt, ob es reads gibt, wenn schon wird der
                (letzte oder aelteste oder gesamt oder alles in einem dropdown) angezeigt-->
                <td>nein</td>
                <td><a routerLink="/newreview" [queryParams]="{isbn: t.isbn}">Add Review</a></td>
            </tr>
        }
        <hr />
        <h4>Other</h4>
        @for (b of [{isbn:'', author:'', title:'', publisher:'', reads: []}]; track b.isbn) {
            <tr>
                <td>{{b.author}}</td>
                <td>{{b.title}}</td>
                <td>{{b.publisher}}</td>
                <!-- todo: hier eine pipe, die checkt, ob es reads gibt, wenn schon wird der
                (letzte oder aelteste oder gesamt oder alles in einem dropdown) angezeigt-->
                <td>nein</td>
                <td>not allowed</td>
            </tr>
        }
    </tbody>
</table>
