
<!--shows todos and other marked books. maybe alredy read books / link to detailed review-->
<form [formGroup]="setPagesForm">
    <input type="number" formControlName="current_page" placeholder="Lesezeichen">
</form>
<table>
    <thead>
        <tr>
            <th>Rang</th>
            <th>progress</th>
            <th>Titel</th>
            <th>isbn:dev</th>
            <th>Autor</th>
            <th>Verlag</th>
            <th>startdate</th>
            <th>set pages</th>
            <th>finishdate</th>
            <th>State</th>
        </tr>
    </thead>
    <!--implement drag and drop for each loob-->
    <!--neuste zuerst, also alle gelesenen bücher ganz unten, neue todos ganz oben-->
                <!-- todo: hier eine pipe, die checkt, ob es reads gibt, wenn schon wird der || check _bool pipe
                (letzte oder aelteste oder gesamt oder alles in einem dropdown) angezeigt-->
    <tbody>
        @for (todo of todos$ | async; track todo.isbn) {
            <tr>
                <td>{{todo.order_rank}}</td>
                <td>{{(null !== todo.current_page ? todo.current_page : '??') + '/' + (todo.pages || '??')}}</td>
                <td>{{todo.isbn}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.a_last}}, {{todo.a_first}}</td>
                <td>{{todo.p_title}}</td>
                <td>{{todo.started_read_date | date}}</td>
                <td>
                    <button type="submit" [disabled]="setPagesForm.invalid" name="todopagessubmit" (click)="setPages(todo)">set</button>
                </td>
                <td>...</td>
                <td>in Progress</td>
                <td><a [routerLink]="[todo.re_id_ref]">Detail</a></td>
                <td><button type="button" (click)="finishTodo(todo)">Finish</button></td>
                <!-- <td><a [routerLink]="['..', 'newreview']" [queryParams]="{bookref: todo.t_id_ref, startdate: todo.started_todo_date, removetodo:todo.t_id_ref}">Review</a></td> -->
            </tr>
        }
        @empty {
            No Todos
        }
    </tbody>
</table>
