
<nav>
    @if (logedIn$ | async) {
        <a [routerLink]="['/', (loginname$ | async)]" routerLinkActive="active">Account</a>
        <a [routerLink]="['/books']" routerLinkActive="active">Alle Bücher</a>
    }
    @else {
        <a [routerLink]="['/account']" routerLinkActive="active">sign up</a>
    }
    <a [routerLink]="['/']" routerLinkActive="active">Home</a>
</nav>

<broadcast-display class="global-broadcast"/>

<div class="main-paige">
    <router-outlet />
</div>

<app-footer class="hide-bolow-landscape"></app-footer>
