<h2>Eine Liste von Buechern, die ich gelesen habe, und meine Gedanken zu diesen</h2>
<hr />
<table>
    <thead>
        <tr>
            <th>
                Rang
                <small>nach meiner persoenlichen Einschaetzung</small>
            </th>
            <th>
                Titel
            </th>
            <th>
                Autor
            </th>
            <th>
                Gelesen
            </th>
            <th>
                Notizen
            </th>
            <th>
                ISBN
            </th>
        </tr>
    </thead>
    <tbody>
        @for (r of reads$ | async; track r.isbn) {
            <tr>
                <td>
                    {{r.rank}}
                </td>
                <td>
                    {{r.title}}
                </td>
                <td>
                    {{r.author}}
                </td>
                <td><!-- todo: hier eine pipe, die checkt, ob es reads gibt, wenn schon wird der (letzte oder aelteste oder gesamt oder alles in einem dropdown) angezeigt-->
                    {{r.reads.length}} mal
                    
                </td>
                <td>
                    {{r.thoughts}}
                </td>
                <td>
                    {{r.isbn}}
                </td>
            </tr>
        }
        @empty {
            bibi
        }
    </tbody>
</table>
<hr />
<a [routerLink]="['/newbook']">Neues Buch anlegen</a>
