
<div>
    <form [formGroup]="newReadForm" (ngSubmit)="createNewRead()">
        <select formControlName="isbn">
            @for (b of [{isbn:'', author:'', title:'', publisher:'', reads: []}]; track b.isbn) {
                <option value="{{b.isbn}}">
                    {{b.title}}
                </option>
            }
            @for (b of [{isbn:'', author:'', title:'', publisher:'', reads: []}]; track b.isbn) {
                <option value="{{b.isbn}}">
                    {{b.title}}
                </option>
            }
            <!--other books will not be shown, to keep the dropdown compact. It is still possible to add a Read to any book-->
        </select>
        <input type="date" formControlName="startDate"  class="mandatory"   placeholder="Startdate" />
        <input type="date" formControlName="finishDate" class="mandatory"   placeholder="Finishdate" />
        <select formControlName="quicknote">
            @for (g of grades | keyvalue; track g) {
                <option value="{{g.value.short}}">
                    {{g.value.long}}
                </option>
            }
        </select>
        <input type="text" formControlName="review"     class="optional"    placeholder="review" />
        <input type="text" formControlName="essay"      class="optional"    placeholder="short essay" />

        <button type="submit" [disabled]="!newReadForm.valid">Create Me</button>
    </form>

    <!-- {{newReadForm.value | json}} -->
</div>
