
<button (click)="justOneMore()">Add Review</button>
<!-- (ngSubmit)="createNewReview()" -->
<form [formGroup]="reviewForm">
    <!--if standalone hit db for all my reads and select the one with selection-->
    <div formArrayName="_reviews">
        @for (group of newReviews.controls; track $index) {
            <button (click)="lessOneJust($index)">x</button>
            <div [formGroupName]="$index">
                <label>title
                    <input type="text" name="title" formControlName="title" />
                </label>
                <label>essay
                    <textarea type="text" name="essay" formControlName="essay" rows="4" cols="50"></textarea>
                </label>
                <label>tldr
                    <input type="text" name="tldr" formControlName="tldr" />
                </label>
            
                <label>rating
                    <input type="text" name="rating" formControlName="rating" />
                </label>
                
                <label>is_public
                    <input type="checkbox" name="is_public" formControlName="is_public" />
                </label>
            </div>
            <!-- @if (!parentForm) {
                <button type="submit" [disabled]="newReviewForm.invalid" name="reviewsubmit">create</button>
            } -->
        }
    </div>
</form>
