 <!-- (ngSubmit)="createNewRead()" -->
<form [formGroup]="newReadForm">
    <label>BookID
        <input type="text" id="isbn" formControlName="book_id_ref">
    </label>

    <label>start
        <input type="datetime-local" id="startdate" formControlName="started_read_date">
    </label>
    <label>finish
        <input type="datetime-local" id="finishdate" formControlName="finished_read_date">
    </label>

    <label>My thoughts
        <input type="text" id="thoughts" formControlName="thoughts">
    </label>
    <label>Quicknote
        <select formControlName="quicknote" id="qn">
            <option value="" disabled selected hidden>Select Quicknote</option>
            @for (qn of quicknotes; track $index) {
                <option value="{{qn}}">
                    {{allQN[qn]}}
                </option>
            }
        </select>
    </label>

    <new-review [parentForm]="{name: 'reviews', group: newReadForm}"></new-review>
    <new-quote [parentForm]="{name: 'quotes', group: newReadForm}"></new-quote>
    <button type="submit" [disabled]="newReadForm.invalid" (click)="createNewRead()">Create Me</button>
</form>
